In [1]:
import nltk
nltk.download('popular')

[nltk_data] Downloading collection 'popular'
[nltk_data]    |
[nltk_data]    | Downloading package cmudict to
[nltk_data]    |     C:\Users\Ivan\AppData\Roaming\nltk_data...
[nltk_data]    |   Package cmudict is already up-to-date!
[nltk_data]    | Downloading package gazetteers to
[nltk_data]    |     C:\Users\Ivan\AppData\Roaming\nltk_data...
[nltk_data]    |   Package gazetteers is already up-to-date!
[nltk_data]    | Downloading package genesis to
[nltk_data]    |     C:\Users\Ivan\AppData\Roaming\nltk_data...
[nltk_data]    |   Package genesis is already up-to-date!
[nltk_data]    | Downloading package gutenberg to
[nltk_data]    |     C:\Users\Ivan\AppData\Roaming\nltk_data...
[nltk_data]    |   Package gutenberg is already up-to-date!
[nltk_data]    | Downloading package inaugural to
[nltk_data]    |     C:\Users\Ivan\AppData\Roaming\nltk_data...
[nltk_data]    |   Package inaugural is already up-to-date!
[nltk_data]    | Downloading package movie_reviews to
[nltk_data]    |     C:\Users\Ivan\AppData\Roaming\nltk_data...
[nltk_data]    |   Package movie_reviews is already up-to-date!
[nltk_data]    | Downloading package names to
[nltk_data]    |     C:\Users\Ivan\AppData\Roaming\nltk_data...
[nltk_data]    |   Package names is already up-to-date!
[nltk_data]    | Downloading package shakespeare to
[nltk_data]    |     C:\Users\Ivan\AppData\Roaming\nltk_data...
[nltk_data]    |   Package shakespeare is already up-to-date!
[nltk_data]    | Downloading package stopwords to
[nltk_data]    |     C:\Users\Ivan\AppData\Roaming\nltk_data...
[nltk_data]    |   Package stopwords is already up-to-date!
[nltk_data]    | Downloading package treebank to
[nltk_data]    |     C:\Users\Ivan\AppData\Roaming\nltk_data...
[nltk_data]    |   Package treebank is already up-to-date!
[nltk_data]    | Downloading package twitter_samples to
[nltk_data]    |     C:\Users\Ivan\AppData\Roaming\nltk_data...
[nltk_data]    |   Package twitter_samples is already up-to-date!
[nltk_data]    | Downloading package omw to
[nltk_data]    |     C:\Users\Ivan\AppData\Roaming\nltk_data...
[nltk_data]    |   Package omw is already up-to-date!
[nltk_data]    | Downloading package wordnet to
[nltk_data]    |     C:\Users\Ivan\AppData\Roaming\nltk_data...
[nltk_data]    |   Package wordnet is already up-to-date!
[nltk_data]    | Downloading package wordnet_ic to
[nltk_data]    |     C:\Users\Ivan\AppData\Roaming\nltk_data...
[nltk_data]    |   Package wordnet_ic is already up-to-date!
[nltk_data]    | Downloading package words to
[nltk_data]    |     C:\Users\Ivan\AppData\Roaming\nltk_data...
[nltk_data]    |   Package words is already up-to-date!
[nltk_data]    | Downloading package maxent_ne_chunker to
[nltk_data]    |     C:\Users\Ivan\AppData\Roaming\nltk_data...
[nltk_data]    |   Package maxent_ne_chunker is already up-to-date!
[nltk_data]    | Downloading package punkt to
[nltk_data]    |     C:\Users\Ivan\AppData\Roaming\nltk_data...
[nltk_data]    |   Package punkt is already up-to-date!
[nltk_data]    | Downloading package snowball_data to
[nltk_data]    |     C:\Users\Ivan\AppData\Roaming\nltk_data...
[nltk_data]    |   Package snowball_data is already up-to-date!
[nltk_data]    | Downloading package averaged_perceptron_tagger to
[nltk_data]    |     C:\Users\Ivan\AppData\Roaming\nltk_data...
[nltk_data]    |   Package averaged_perceptron_tagger is already up-
[nltk_data]    |       to-date!
[nltk_data]    |
[nltk_data]  Done downloading collection popular

True

In [2]:
import pandas as pd 
import numpy as np
import io
from nltk.corpus import stopwords 
from nltk.tokenize import word_tokenize
stop_words = set(stopwords.words('english'))
import string

#Open file
jeopardy_df = pd.read_csv('JEOPARDY_CSV.CSV')
jeopardy_df.head()

#Lower case
jeopardy_df.columns = jeopardy_df.columns.str.replace(' ', '')
jeopardy_df.Question = jeopardy_df.Question.str.lower()
#jeopardy_df.Answer = jeopardy_df.Answer.str.lower() #No need to lower as a lot of answers are names

#Tokenise
jeopardy_df['tokenised'] = jeopardy_df['Question'].apply(word_tokenize)

#Remove punctuation
jeopardy_df['nopunct'] = jeopardy_df['tokenised'].apply(lambda x: [char for char in x if char not in string.punctuation])

#Remove stop words
jeopardy_df['nostop'] = jeopardy_df['nopunct'].apply(lambda x: [item for item in x if item not in stop_words])

#Lemmatise
lemmatizer = nltk.stem.WordNetLemmatizer()
jeopardy_df['lemma'] = jeopardy_df['nostop'].apply(lambda x: [lemmatizer.lemmatize(w) for w in x])

jeopardy_df.head(20)

,ShowNumber,AirDate,Round,Category,Value,Question,Answer,tokenised,nopunct,nostop,lemma
0,4680,2004-12-31,Jeopardy!,HISTORY,$200,"for the last 8 years of his life, galileo was ...",Copernicus,"[for, the, last, 8, years, of, his, life, ,, g...","[for, the, last, 8, years, of, his, life, gali...","[last, 8, years, life, galileo, house, arrest,...","[last, 8, year, life, galileo, house, arrest, ..."
1,4680,2004-12-31,Jeopardy!,ESPN's TOP 10 ALL-TIME ATHLETES,$200,no. 2: 1912 olympian; football star at carlisl...,Jim Thorpe,"[no, ., 2, :, 1912, olympian, ;, football, sta...","[no, 2, 1912, olympian, football, star, at, ca...","[2, 1912, olympian, football, star, carlisle, ...","[2, 1912, olympian, football, star, carlisle, ..."
2,4680,2004-12-31,Jeopardy!,EVERYBODY TALKS ABOUT IT...,$200,the city of yuma in this state has a record av...,Arizona,"[the, city, of, yuma, in, this, state, has, a,...","[the, city, of, yuma, in, this, state, has, a,...","[city, yuma, state, record, average, 4,055, ho...","[city, yuma, state, record, average, 4,055, ho..."
3,4680,2004-12-31,Jeopardy!,THE COMPANY LINE,$200,"in 1963, live on ""the art linkletter show"", th...",McDonald's,"[in, 1963, ,, live, on, ``, the, art, linklett...","[in, 1963, live, on, ``, the, art, linkletter,...","[1963, live, ``, art, linkletter, show, '', co...","[1963, live, ``, art, linkletter, show, '', co..."
4,4680,2004-12-31,Jeopardy!,EPITAPHS & TRIBUTES,$200,"signer of the dec. of indep., framer of the co...",John Adams,"[signer, of, the, dec., of, indep., ,, framer,...","[signer, of, the, dec., of, indep., framer, of...","[signer, dec., indep., framer, constitution, m...","[signer, dec., indep., framer, constitution, m..."
5,4680,2004-12-31,Jeopardy!,3-LETTER WORDS,$200,"in the title of an aesop fable, this insect sh...",the ant,"[in, the, title, of, an, aesop, fable, ,, this...","[in, the, title, of, an, aesop, fable, this, i...","[title, aesop, fable, insect, shared, billing,...","[title, aesop, fable, insect, shared, billing,..."
6,4680,2004-12-31,Jeopardy!,HISTORY,$400,built in 312 b.c. to link rome & the south of ...,the Appian Way,"[built, in, 312, b.c, ., to, link, rome, &, th...","[built, in, 312, b.c, to, link, rome, the, sou...","[built, 312, b.c, link, rome, south, italy, 's...","[built, 312, b.c, link, rome, south, italy, 's..."
7,4680,2004-12-31,Jeopardy!,ESPN's TOP 10 ALL-TIME ATHLETES,$400,"no. 8: 30 steals for the birmingham barons; 2,...",Michael Jordan,"[no, ., 8, :, 30, steals, for, the, birmingham...","[no, 8, 30, steals, for, the, birmingham, baro...","[8, 30, steals, birmingham, barons, 2,306, ste...","[8, 30, steal, birmingham, baron, 2,306, steal..."
8,4680,2004-12-31,Jeopardy!,EVERYBODY TALKS ABOUT IT...,$400,"in the winter of 1971-72, a record 1,122 inche...",Washington,"[in, the, winter, of, 1971-72, ,, a, record, 1...","[in, the, winter, of, 1971-72, a, record, 1,12...","[winter, 1971-72, record, 1,122, inches, snow,...","[winter, 1971-72, record, 1,122, inch, snow, f..."
9,4680,2004-12-31,Jeopardy!,THE COMPANY LINE,$400,this housewares store was named for the packag...,Crate & Barrel,"[this, housewares, store, was, named, for, the...","[this, housewares, store, was, named, for, the...","[housewares, store, named, packaging, merchand...","[housewares, store, named, packaging, merchand..."
10,4680,2004-12-31,Jeopardy!,EPITAPHS & TRIBUTES,$400,"""and away we go""",Jackie Gleason,"[``, and, away, we, go, '']","[``, and, away, we, go, '']","[``, away, go, '']","[``, away, go, '']"
11,4680,2004-12-31,Jeopardy!,3-LETTER WORDS,$400,cows regurgitate this from the first stomach t...,the cud,"[cows, regurgitate, this, from, the, first, st...","[cows, regurgitate, this, from, the, first, st...","[cows, regurgitate, first, stomach, mouth, chew]","[cow, regurgitate, first, stomach, mouth, chew]"
12,4680,2004-12-31,Jeopardy!,HISTORY,$600,in 1000 rajaraja i of the cholas battled to ta...,Ceylon (or Sri Lanka),"[in, 1000, rajaraja, i, of, the, cholas, battl...","[in, 1000, rajaraja, i, of, the, cholas, battl...","[1000, rajaraja, cholas, battled, take, indian...","[1000, rajaraja, cholas, battled, take, indian..."
13,4680,2004-12-31,Jeopardy!,ESPN's TOP 10 ALL-TIME ATHLETES,$600,"no. 1: lettered in hoops, football & lacrosse ...",Jim Brown,"[no, ., 1, :, lettered, in, hoops, ,, football...","[no, 1, lettered, in, hoops, football, lacross...","[1, lettered, hoops, football, lacrosse, syrac...","[1, lettered, hoop, football, lacrosse, syracu..."
14,4680,2004-12-31,Jeopardy!,EVERYBODY TALKS ABOUT IT...,$600,"on june 28, 1994 the nat'l weather service beg...",the UV index,"[on, june, 28, ,, 1994, the, nat, ', l, weathe...","[on, june, 28, 1994, the, nat, l, weather, ser...","[june, 28, 1994, nat, l, weather, service, beg...","[june, 28, 1994, nat, l, weather, service, beg..."
15,4680,2004-12-31,Jeopardy!,THE COMPANY LINE,$600,"this company's accutron watch, introduced in 1...",Bulova,"[this, company, 's, accutron, watch, ,, introd...","[this, company, 's, accutron, watch, introduce...","[company, 's, accutron, watch, introduced, 196...","[company, 's, accutron, watch, introduced, 196..."
16,4680,2004-12-31,Jeopardy!,EPITAPHS & TRIBUTES,$600,"outlaw: ""murdered by a traitor and a coward wh...",Jesse James,"[outlaw, :, ``, murdered, by, a, traitor, and,...","[outlaw, ``, murdered, by, a, traitor, and, a,...","[outlaw, ``, murdered, traitor, coward, whose,...","[outlaw, ``, murdered, traitor, coward, whose,..."
17,4680,2004-12-31,Jeopardy!,3-LETTER WORDS,$600,"a small demon, or a mischievous child (who mig...",imp,"[a, small, demon, ,, or, a, mischievous, child...","[a, small, demon, or, a, mischievous, child, w...","[small, demon, mischievous, child, might, litt...","[small, demon, mischievous, child, might, litt..."
18,4680,2004-12-31,Jeopardy!,HISTORY,$800,karl led the first of these marxist organizati...,the International,"[karl, led, the, first, of, these, marxist, or...","[karl, led, the, first, of, these, marxist, or...","[karl, led, first, marxist, organizational, ef...","[karl, led, first, marxist, organizational, ef..."
19,4680,2004-12-31,Jeopardy!,ESPN's TOP 10 ALL-TIME ATHLETES,$800,no. 10: fb/lb for columbia u. in the 1920s; mv...,(Lou) Gehrig,"[no, ., 10, :, fb/lb, for, columbia, u., in, t...","[no, 10, fb/lb, for, columbia, u., in, the, 19...","[10, fb/lb, columbia, u., 1920s, mvp, yankees,...","[10, fb/lb, columbia, u., 1920s, mvp, yankee, ..."

In [3]:
jeopardy_df.tail()

,ShowNumber,AirDate,Round,Category,Value,Question,Answer,tokenised,nopunct,nostop,lemma
216925,4999,2006-05-11,Double Jeopardy!,RIDDLE ME THIS,$2000,this puccini opera turns on the solution to 3 ...,Turandot,"[this, puccini, opera, turns, on, the, solutio...","[this, puccini, opera, turns, on, the, solutio...","[puccini, opera, turns, solution, 3, riddles, ...","[puccini, opera, turn, solution, 3, riddle, po..."
216926,4999,2006-05-11,Double Jeopardy!,"""T"" BIRDS",$2000,in north america this term is properly applied...,a titmouse,"[in, north, america, this, term, is, properly,...","[in, north, america, this, term, is, properly,...","[north, america, term, properly, applied, 4, s...","[north, america, term, properly, applied, 4, s..."
216927,4999,2006-05-11,Double Jeopardy!,AUTHORS IN THEIR YOUTH,$2000,"in penny lane, where this ""hellraiser"" grew up...",Clive Barker,"[in, penny, lane, ,, where, this, ``, hellrais...","[in, penny, lane, where, this, ``, hellraiser,...","[penny, lane, ``, hellraiser, '', grew, barber...","[penny, lane, ``, hellraiser, '', grew, barber..."
216928,4999,2006-05-11,Double Jeopardy!,QUOTATIONS,$2000,"from ft. sill, okla. he made the plea, arizona...",Geronimo,"[from, ft., sill, ,, okla., he, made, the, ple...","[from, ft., sill, okla., he, made, the, plea, ...","[ft., sill, okla., made, plea, arizona, land, ...","[ft., sill, okla., made, plea, arizona, land, ..."
216929,4999,2006-05-11,Final Jeopardy!,HISTORIC NAMES,None,a silent movie title includes the last name of...,Grigori Alexandrovich Potemkin,"[a, silent, movie, title, includes, the, last,...","[a, silent, movie, title, includes, the, last,...","[silent, movie, title, includes, last, name, 1...","[silent, movie, title, includes, last, name, 1..."

In [4]:
from sklearn.feature_extraction.text import CountVectorizer

df = jeopardy_df[['lemma', 'Answer']].copy()
print(df.shape)

bow = CountVectorizer()
transform = bow.fit_transform(df)
print(transform.shape)
print(bow.get_feature_names)
pd.DataFrame(transform.toarray())

(216930, 2)
(2, 2)
<bound method CountVectorizer.get_feature_names of CountVectorizer(analyzer='word', binary=False, decode_error='strict',
        dtype=<class 'numpy.int64'>, encoding='utf-8', input='content',
        lowercase=True, max_df=1.0, max_features=None, min_df=1,
        ngram_range=(1, 1), preprocessor=None, stop_words=None,
        strip_accents=None, token_pattern='(?u)\\b\\w\\w+\\b',
        tokenizer=None, vocabulary=None)>

   0  1
0  0  1
1  1  0